<div class="box">
  <button (click)="startGame()">Start</button>
  <h1>{{ time }}</h1>
  <h1>{{ word }}</h1>

  <input type="text" [(ngModel)]="input" />
  <button (click)="checkWord()">ENTER</button>

  @if(this.time==0){
  <h1>{{ points }}</h1>
  } @else {
  <h1>Hola</h1>
  }
  <h2 *ngIf="time == 0">
    @if (points <10) { Điểm của bạn quá tệ } @else { Điểm của bạn khá tốt }
  </h2>
</div>
<div id="KeyBoard">
  <div id="keytop">
    @for(letter of buttonTop; track $index) {
    <button>{{ letter }}</button>
    }
  </div>
  <div id="keymid">
    @for(letter of buttonMid; track $index) {
    <button>{{ letter }}</button>
    }
  </div>
  <div id="keybot">
    @for(letter of buttonBot; track $index) {
    <button>{{ letter }}</button>
    }
  </div>
  <div class="keyspace">
    <button>Space</button>
  </div>
</div>
